[project]
	description = Java code generator for efficient immutable structured data and companion builder classes plus full delta support.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jawhiting (jawhiting)
[access "refs/for/refs/*"]
	read = group user/jawhiting (jawhiting)
	push = group user/jawhiting (jawhiting)
	label-Code-Review = -2..+2 group user/jawhiting (jawhiting)
	label-Verified = -1..+1 group user/jawhiting (jawhiting)
	rebase = group user/jawhiting (jawhiting)
	removeReviewer = group user/jawhiting (jawhiting)
	submit = group user/jawhiting (jawhiting)
[access "refs/heads/*"]
	read = group user/jawhiting (jawhiting)
	create = group user/jawhiting (jawhiting)
	push = +force group user/jawhiting (jawhiting)
	pushMerge = group user/jawhiting (jawhiting)
[access "refs/tags/*"]
	push = +force group user/jawhiting (jawhiting)
	pushTag = group user/jawhiting (jawhiting)
	pushSignedTag = group user/jawhiting (jawhiting)
