[project]
	description = Java code generator for efficient immutable structured data and companion builder classes plus full delta support.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jawhiting
[access "refs/for/refs/*"]
	read = group user/jawhiting
	push = group user/jawhiting
	label-Code-Review = -2..+2 group user/jawhiting
	label-Verified = -1..+1 group user/jawhiting
	rebase = group user/jawhiting
	removeReviewer = group user/jawhiting
	submit = group user/jawhiting
[access "refs/heads/*"]
	read = group user/jawhiting
	create = group user/jawhiting
	push = +force group user/jawhiting
	pushMerge = group user/jawhiting
[access "refs/tags/*"]
	push = +force group user/jawhiting
	pushTag = group user/jawhiting
	pushSignedTag = group user/jawhiting
